@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

.text-shpere {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #24242F; */
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    letter-spacing: 0.0625em;
    font-size: .85em;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {

    color: #c295fc;
    /* text-transform: uppercase; */
}

.tagcloud--item:hover {
    color: #00ffffff;
}